{% extends "master.html" %}

{% block content %}



    <form id="search_form" method="post" class="search_form" autocomplete="off">{% csrf_token %}
        {#    <!--{% csrf_token %}-->#}
        <div class="form-inline" style="margin-bottom: 30px;">
            <i class="fa fa-box fa-2x" style="align: middle;"></i>
            <h3 style="margin-left: 10px;">Item Dimension</h3>
        </div>
        

        <div class="form-group">
            <div class="container">
                <div class="row" display= "flex">
                    <div class="col-md-1">
                        <label for="Units">Units</label>
                    </div>
                    <!-- <div class="col-md-3">
                        <select class="form-control" name="Dimension_units" id="Dimension_units"
                                placeholder="choose one" onchange="TestSize()">
                            <option value="inches">inches</option>
                            <option value="cm">cm</option>
                        </select>
                    </div> -->
                    <div class="tabber col-md-3" display= "flex">
                        <label for="t1">in</label>
                        <input id="t1" name="Dimension_units" type="radio" checked onchange="ChangeSizeUnit()" value="inches">
                        <label for="t2">cm</label>
                        <input id="t2" name="Dimension_units" type="radio" onchange="ChangeSizeUnit();TestSize()" value="cm">
                        <div class="blob"></div>
                        <div name="unit_border" style="border: 0.2rem cornflowerblue;border-style: solid; border-radius: 1.5rem; width: 9.4rem;height: 1rem; padding-top: 2.6rem; margin-left: -4.4rem;z-index: -2;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="container">
                <div class="row" display= "flex">
                    <div class="col-md-1">
                        <label for="length">Length</label>
                    </div>
                    <div class="col-md-3 input-group">
                        <input type="number" class="form-control" id="Length" name="Length"
                               placeholder="Enter Length" onchange="TestSize()">
                        <div class="input-group-append">
                            <span class="input-group-text item">inches</span>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label for="width">Width</label>
                    </div>
                    <div class="col-md-3 input-group">
                        <input type="number" class="form-control" id="Width" name="Width"
                               placeholder="Enter Width" onchange="TestSize()">
                        <div class="input-group-append">
                            <span class="input-group-text item">inches</span>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label for="height">Height</label>
                    </div>
                    <div class="col-md-3 input-group">
                        <input type="number" class="form-control" id="Height" name="Height"
                               placeholder="Enter Height" onchange="TestSize()">
                        <div class="input-group-append">
                            <span class="input-group-text item">inches</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
        <div style="margin-bottom: 30px;display: none;" id="waring1">
            <p id ="waring1p">Package exceeds the maximum size total constraints of 165 inches <br> hint: (length + girth, where girth is 2 x width plus 2 x height) </p>
        </div>

        <hr>

        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                        <label for="Units">Units</label>
                    </div>
                    <div class="tabber col-md-3" display= "flex">
                        <label for="t3">lb</label>
                        <input id="t3" name="Weight_unit" type="radio" checked onchange="ChangeWeightUnit()" value="pounds">
                        <label for="t4">kg</label>
                        <input id="t4" name="Weight_unit" type="radio" onchange="ChangeWeightUnit()" value="kilograms">
                        <div class="blob" style="margin-left:-9.2rem"></div>
                        <div name="unit_border" style="border: 0.2rem cornflowerblue;border-style: solid; border-radius: 1.5rem; width: 9.4rem;height: 1rem; padding-top: 2.6rem; margin-left: -4.4rem;z-index: -2;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                        <label for="Weight">Weight</label>
                    </div>
                    <div class="col-md-3 input-group">
                        <input type="number" class="form-control" id="Weight" name="Weight"
                               placeholder="Enter Weight" onchange="TestWeight()">
                        <div class="input-group-append">
                            <span class="input-group-text weight">pounds</span>
                        </div>
                    </div>
                    <!-- <div class="col-md-2">
                        <select class="form-control" name="Weight_unit" id="Weight_unit" placeholder="choose one" onchange="TestWeight()">
                            <option value="pounds">pounds</option>
                            <option value="kilograms">kilograms</option>
                        </select>
                    </div> -->
                </div>
            </div>
        </div>
        <div style="margin-bottom: 30px;display: none;" id="waring2">
            <p id ="waring2p">The maximum per package weight is 150.00 pounds. </p>
        </div>

        <div id="Address_line">
            <hr>
        </div>

        <div class="form-inline" style="margin-bottom: 30px;">
            <i class="fa fa-plane-departure fa-2x" style="align: middle;"></i>
            <h3 style="margin-left: 10px;" id = "ShippingFrom">Shipping From</h3>
        </div>
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <label for="Address">Address</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="From_AddressLine" name="From_AddressLine"
                               placeholder="Enter your 'From' address" onchange="TestAddress1()" onFocus="geolocate_from()"
                               autocomplete="nothing">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 F_Country cscz f_group" style="display:none">
                        <label for="CountryCode">Country</label>
                    </div>
                    <div class="col-md-4 F_Country cscz f_group" style="display:none">
                        <input type="text" class="form-control" name="From_CountryCode" id="From_CountryCode"
                                placeholder="Enter Country" autocomplete="nope">
                        </input>
                    </div>
                    <div class="col-md-2 F_State cscz f_group" style="display:none">
                        <label for="StateProvinceCode">State</label>
                    </div>
                    <div class="col-md-4 F_State cscz f_group" style="display:none">
                        <input type="text" class="form-control" name="From_StateProvinceCode" id="From_StateProvinceCode"
                                placeholder="Enter State" autocomplete="nope">
                        </input>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 F_City cscz f_group" style="display:none">
                        <label for="City">City</label>
                    </div>
                    <div class="col-md-4 F_City cscz f_group" style="display:none">
                        <input type="text" class="form-control" id="From_City" name="From_City"
                            placeholder="Enter city" autocomplete="nope">
                    </div>
                    <div class="col-md-2 F_Zip cscz f_group" style="display:none">
                        <label for="zipcode">Zip Code</label>
                    </div>
                    <div class="col-md-4 F_Zip cscz f_group" style="display:none">
                        <input type="text" class="form-control" id="From_PostalCode" name="From_PostalCode"
                            placeholder="Enter Zip Code" autocomplete="nope">
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-bottom: 30px;display: none;" id="waring3">
            <p id ="waring3p">The maximum per package weight is 150.00 pounds. </p>
        </div>

        <hr>
        <div class="form-inline" style="margin-bottom: 30px;">
            <i class="fa fa-plane-arrival fa-2x" style="align: middle;"></i>
            <h3 style="margin-left: 10px;">Shipping To</h3>
        </div>

        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <label for="Address">Address</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="To_AddressLine" name="To_AddressLine"
                               placeholder="Enter your 'To' address" onFocus="geolocate_to()" onchange = "TestAddress2()">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 T_Country cscz t_group" style="display:none">
                        <label for="CountryCode">Country</label>
                    </div>
                    <div class="col-md-4 T_Country cscz t_group" style="display:none">
                        <input type="text" class="form-control" name="To_CountryCode" id="To_CountryCode" 
                                placeholder="Enter Country" autocomplete="nope">
                        </input>
                    </div>
                    <div class="col-md-2 T_State cscz t_group" style="display:none">
                        <label for="StateProvinceCode">State</label>
                    </div>
                    <div class="col-md-4 T_State cscz t_group" style="display:none">
                        <input type="text" class="form-control" name="To_StateProvinceCode" id="To_StateProvinceCode"
                                placeholder="Enter State" autocomplete="nope">
                        </input>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 T_City cscz t_group" style="display:none">
                        <label for="City">City</label>
                    </div>
                    <div class="col-md-4 T_City cscz t_group" style="display:none">
                        <input type="text" class="form-control" id="To_City" name="To_City"
                                placeholder="Enter city" autocomplete="nope">
                    </div>
                    <div class="col-md-2 T_Zip cscz t_group" style="display:none">
                        <label for="zipcode">Zip Code</label>
                    </div>
                    <div class="col-md-4 T_Zip cscz t_group" style="display:none">
                        <input type="text" class="form-control" id="To_PostalCode" name="To_PostalCode"
                            placeholder="Enter Zip Code" autocomplete="nope">
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-bottom: 30px;display: none;" id="waring4">
            <p id ="waring4p">The maximum per package weight is 150.00 pounds. </p>
        </div>

        <div class="form-group">
            <div class="text-center">
                <button type="submit" id="submit" name="submit" class="btn btn-primary" disabled="true" onclick="skip()">Start Searching</button>
            </div>
        </div>
    </form>


    {#<tr>#}
    {#    <span style="font-size:2rem;color: #159e35;">Project name</span>#}
    {#</tr>#}
    {#<hr class="style-one"/>#}
    {#<h2><span style="font-size:2rem;color: #159e35;">Introduction</span></h2>#}
    {#<div class="container">#}
    {#    <div class="row">#}
    {#        <div class="col-sm-12">#}
    {#            <h5><span>In this project... </span></h5>#}
    {#        </div>#}
    {#    </div>#}
    {#    <hr class="style-one"/>#}
    {#    <div class="row">#}
    {#        <div class="col-sm-4">#}
    {#            <h4>Total amount of data:</h4>#}
    {#        </div>#}
    {#        <div class="col-sm">#}
    {#            <h4>15,709,686</h4>#}
    {#        </div>#}
    {#    </div>#}
    {#    <hr class="style-one"/>#}
    {#    <div class="row">#}
    {#        <div class="col-sm-4">#}
    {#            <h4>Total amount of sources:</h4>#}
    {#        </div>#}
    {#        <div class="col-sm">#}
    {#            <h4>47</h4>#}
    {#        </div>#}
    {#    </div>#}
    {#    <hr class="style-one"/>#}
    {#</div>#}
    {#<h3><span style="font-size:2rem;color: #159e35;">Title 2</span></h3>#}
    {#<hr class="style-one"/>#}
    {#<h3><span style="font-size:2rem;color: #159e35;">Title 3</span></h3>#}
    {#    <h3><span style="font-size:2rem;color: #159e35;">Result</span></h3>#}

    <div class="form-inline" style="margin-bottom: 30px; margin-top: 100px;">
            <i class="fa fa-search-dollar fa-2x" style="align: middle;"></i>
            <h3 style="margin-left: 10px;">Results</h3>
        </div>
    <!-- <div id="divtable" class="table-container" style="visibility: hidden;"> -->
    <div id="divtable" class="table-container">
        <table id="datatable" class="table table-striped  table-sm" width="100%">
        <thead>
        <tr>
            <th>Company</th>
            <th>Service</th>
            <th>Ship Time</th>
            <th>Price</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
        </table>
    </div>

    <!--div class="form-inline" style="margin-bottom: 30px; margin-top: 100px;">
            <i class="fa fa-hands fa-2x" style="align: middle;"></i>
            <h3 style="margin-left: 10px;">Our Goal</h3>
    </div-->
    <div class="form-inline" style="margin-bottom: 30px; margin-top: 100px;">
            <i class="fa fa-flushed fa-2x" style="align: middle;"></i>
            <h3 style="margin-left: 10px;" id="AboutUs">About Us</h3>
    </div>
    <div>
        <p style="color: black; font-size:18px;"> 
            This is a project for CS561 in 2020 Fall term. <br>
            Author: Sheng-Po Huang, Ta-wei Hwang, Yue Chen, Chuan Cheng, Jingyu Xiang, and Shih-Chao Hung.</p>
    </div>

    {##}
    {#<table>#}
    {#    <tr>#}
    {#        <td><span style="font-size:2rem;color: #159e35;">Team member:</span></td>#}
    {#        <td></td>#}
    {#        <td></td>#}
    {#        <td></td>#}
    {#    </tr>#}
    {#    <tr>#}
    {#        <td>name</td>#}
    {#        <td>email</td>#}
    {#        <td>Ta-Wei Hwang</td>#}
    {#        <td>hwangt@oregonstate.edu</td>#}
    {#    </tr>#}
    {#    <tr>#}
    {#        <td>name</td>#}
    {#        <td>email</td>#}
    {#        <td>name</td>#}
    {#        <td>email</td>#}
    {#    </tr>#}
    {#</table>#}

{% endblock content %}

