{% extends "master.html" %}

{% block content %}

<form id="search_form" method = "post">{% csrf_token %}
{#    <!--{% csrf_token %}-->#}
    <div class="form-group">
      <label for="dimension">Item dimension</label><br>
      <label for="Units">Units</label>
      <select class="form-control" name="Dimension units" id="Dimension units" placeholder="choose one">
        <option value="inches">inches</option>
        <option value="cm">cm</option>
      </select>
      <label for="height">Height</label>
      <input type="text" class="form-control" id="Height" name="Height" placeholder="Enter Height only inches or cm units.">
      <label for="length">Length</label>
      <input type="text" class="form-control" id="Length" name="Length" placeholder="Enter Length only inches or cm units.">
      <label for="width">Width</label>
      <input type="text" class="form-control" id="Width" name="Width" placeholder="Enter Width only inches or cm units.">
    </div>
    <br>

    <div class="form-group">
      <label for="weight">Item weight</label><br>
      <label for="Units">Units</label>
      <select class="form-control" name="Weight unit" id="Weight unit" placeholder="choose one">
        <option value="pounds">pounds</option>
        <option value="kilograms">kilograms</option>
      </select>
      <label for="Weight">Weight</label>
      <input type="text" class="form-control" id="Weight" name="Weight" placeholder="Enter Weight only pounds or cm kilograms.">
    </div>
    <br>

    <div class="form-group">
      <label for="Ship From">Shipping From :</label><br>
      <label for="Address">Address</label>

      <label for="Address Line">Address Line</label>
      <input type="text" class="form-control" id="From AddressLine" name="From AddressLine" placeholder="Enter your ship from address.">
      <label for="City">City</label>
      <input type="text" class="form-control" id="From City" name="From City" placeholder="Enter city">
      <label for="CountryCode">Country</label>
      <select class="form-control" name="From CountryCode" id="From CountryCode" placeholder="choose one">
        <option value="US">US</option>
        <option value="CN">CN</option>
      </select>
      <label for="zipcode">Zipcode</label>
      <input type="text" class="form-control" id="From PostalCode" name="From PostalCode" placeholder="Enter Zip Code">
      <label for="StateProvinceCode">State Province</label>
      <select class="form-control" name="From StateProvinceCode" id="From StateProvinceCode" placeholder="choose one">
        <option value="GA">GA</option>
        <option value="BJ">BJ</option>
      </select>
    </div>
    <br>

    <div class="form-group">
      <label for="Ship To">Shipping To :</label><br>
      <label for="Address">Address</label>

      <label for="Address Line">Address Line</label>
      <input type="text" class="form-control" id="To AddressLine" name="To AddressLine" placeholder="Enter your ship to address.">
      <label for="City">City</label>
      <input type="text" class="form-control" id="To City" name="To City" placeholder="Enter city">
      <label for="CountryCode">Country</label>
      <select class="form-control" name="To CountryCode" id="To CountryCode" placeholder="choose one">
        <option value="US">US</option>
        <option value="CN">CN</option>
      </select>
      <label for="zipcode">Zipcode</label>
      <input type="text" class="form-control" id="To PostalCode" name="To PostalCode" placeholder="Enter Zip Code">
      <label for="StateProvinceCode">State Province</label>
      <select class="form-control" name="To StateProvinceCode" id="To StateProvinceCode" placeholder="choose one">
        <option value="GA">GA</option>
        <option value="BJ">BJ</option>
      </select>
    </div>
    <br>




    <!--<div class="form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" name="city" aria-describedby="city_help" placeholder="Enter city">
      <small id="city_help" class="form-text text-muted">Please input whole city name</small>
    </div>
    <div class="form-group">
      <label for="zipcode">Zip Code</label>
      <input type="number" class="form-control" id="zipcode" name="zipcode" placeholder="Enter Zip Code">
    </div>-->
    <!--<div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>-->
    <button type="submit" id="submit" name="submit" class="btn btn-primary">Submit</button>
</form>




<tr>
    <span style="font-size:2rem;color: #159e35;">Project name</span>
</tr>
<hr class="style-one"/>
<h2><span style="font-size:2rem;color: #159e35;">Introduction</span></h2>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h5><span>In this project... </span></h5>
        </div>
    </div>
    <hr class="style-one"/>
    <div class="row">
        <div class="col-sm-4">
            <h4>Total amount of data:</h4>
        </div>
        <div class="col-sm">
            <h4>15,709,686</h4>
        </div>
    </div>
    <hr class="style-one"/>
    <div class="row">
        <div class="col-sm-4">
            <h4>Total amount of sources:</h4>
        </div>
        <div class="col-sm">
            <h4>47</h4>
        </div>
    </div>
    <hr class="style-one"/>
</div>
<h3><span style="font-size:2rem;color: #159e35;">Title 2</span></h3>
<hr class="style-one"/>
<h3><span style="font-size:2rem;color: #159e35;">Title 3</span></h3>
<h3><span style="font-size:2rem;color: #159e35;">Table Example</span></h3>
<table id="datatable" class="table table-striped  table-sm" width="100%">
    <thead>
    <tr>
        <th>UPS_Service</th>
        <th>Money</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>


<table>
    <tr>
        <td><span style="font-size:2rem;color: #159e35;">Team member:</span></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>name</td>
        <td>email</td>
        <td>Ta-Wei Hwang</td>
        <td>hwangt@oregonstate.edu</td>
    </tr>
    <tr>
        <td>name</td>
        <td>email</td>
        <td>name</td>
        <td>email</td>
    </tr>
</table>

{% endblock content %}

