{#{% extends "master.html" %}#}
<div class="header">
  {#    <button class="btn btn-lg col-3 heading-button" onclick="location.href='{% url 'home-index' %}'">HomePage</button>#}
  {#    <button class="btn btn-lg col-3 heading-button">Map</button>#}
  {#    <button class="btn btn-lg col-3 heading-button" onclick="location.href='{% url 'home-weather' %}'">Weather</button>#}
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: whitesmoke;">
      <div class="d-flex flex-grow-1" style="margin-left:5%;">
          {#            <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>#}
          <a class="navbar-brand d-none d-lg-inline-block" href="" style="font-size:2rem;">
              <img src="/static/image/icon_n.png" width="50" height="50" class="d-inline-block align-top" alt="">
              Shipping Cheap
          </a>
          {#            <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">#}
          {#                #}
          {#            </a>#}
          <div class="w-100 text-right">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                  <span class="navbar-toggler-icon"></span>
              </button>
          </div>
      </div>
      <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
          <ul class="navbar-nav ml-auto flex-nowrap">
              <li class="nav-item">
                  <a href="#" class="nav-link m-2 menu-item nav-active">Our Goal</a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link m-2 menu-item" onclick="skipAboutUs()">About us</a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link m-2 menu-item">Contact</a>
              </li>
          </ul>
      </div>
  </nav>
</div>


<div class="cusBackground" style="background-image: url('/static/image/banner_n.png'); background-size: 100% 100%;">
  <!-- <img src="/static/image/background.png" style="width:100%;height: 100%;"> -->
  <div class="container b h-100">
      <div class="row align-items-center h-100">
          <div class="col-7 mx-auto">
              <p><h1 style="color:white;"><font size="7"><I>Find the cheapest shipping prices!!</I></font></h1></p>
              <p>
                  <img src="/static/image/UPS_logo_b.png" alt="ups_logo" width="80px" height="80px">
                  <img src="/static/image/Fedex_logo_b.png" alt="fedex_logo"  width="80px" height="80px">
                  <img src="/static/image/USPS_logo_b.png" alt="usps_logo"  width="80px" height="80px">
                  <img src="/static/image/Sendle_logo_b.png" alt="sendle_logo"  width="80px" height="80px">
              </p>
          </div>
          <div class="col-5"></div>
          <!-- <div class="col-3">
              <img src="/static/image/logo_new.png" alt="logo" width="240" height="240">
          </div> -->
      </div>
  </div>
</div>
{% block input_idx %}
{#<!--{% csrf_token %}-->#}
<form id="search_form" method = "post">{% csrf_token %}
    <div class="form-group">
      <label for="dimension">Item dimension</label><br>
      <label for="Units">Units</label>
      <select class="form-control" name="Dimension units" id="Dimension units" placeholder="choose one">
        <option value="inches">inches</option>
        <option value="cm">cm</option>
      </select>
      <label for="height">Height</label>
      <input type="text" class="form-control" id="Height" name="Height" placeholder="Enter Height only inches or cm units.">
      <label for="length">Length</label>
      <input type="text" class="form-control" id="Length" name="Length" placeholder="Enter Length only inches or cm units.">
      <label for="width">Width</label>
      <input type="text" class="form-control" id="Width" name="Width" placeholder="Enter Width only inches or cm units.">
    </div>
    <br>

    <div class="form-group">
      <label for="weight">Item weight</label><br>
      <label for="Units">Units</label>
      <select class="form-control" name="Weight unit" id="Weight unit" placeholder="choose one">
        <option value="pounds">pounds</option>
        <option value="kilograms">kilograms</option>
      </select>
      <label for="Weight">Weight</label>
      <input type="text" class="form-control" id="Weight" name="Weight" placeholder="Enter Weight only pounds or cm kilograms.">
    </div>
    <br>

    <div class="form-group">
      <label for="Ship From">Shipping From :</label><br>
      <label for="Address">Address</label>

      <label for="Address Line">Address Line</label>
      <input type="text" class="form-control" id="From AddressLine" name="From AddressLine" placeholder="Enter your ship from address.">
      <label for="City">City</label>
      <input type="text" class="form-control" id="From City" name="From City" placeholder="Enter city">
      <label for="CountryCode">Country</label>
      <select class="form-control" name="From CountryCode" id="From CountryCode" placeholder="choose one">
        <option value="US">US</option>
        <option value="CN">CN</option>
      </select>
      <label for="zipcode">Zipcode</label>
      <input type="text" class="form-control" id="From PostalCode" name="From PostalCode" placeholder="Enter Zip Code">
      <label for="StateProvinceCode">State Province</label>
      <select class="form-control" name="From StateProvinceCode" id="From StateProvinceCode" placeholder="choose one">
        <option value="GA">GA</option>
        <option value="BJ">BJ</option>
      </select>
    </div>
    <br>

    <div class="form-group">
      <label for="Ship To">Shipping To :</label><br>
      <label for="Address">Address</label>

      <label for="Address Line">Address Line</label>
      <input type="text" class="form-control" id="To AddressLine" name="To AddressLine" placeholder="Enter your ship to address.">
      <label for="City">City</label>
      <input type="text" class="form-control" id="To City" name="To City" placeholder="Enter city">
      <label for="CountryCode">Country</label>
      <select class="form-control" name="To CountryCode" id="To CountryCode" placeholder="choose one">
        <option value="US">US</option>
        <option value="CN">CN</option>
      </select>
      <label for="zipcode">Zipcode</label>
      <input type="text" class="form-control" id="To PostalCode" name="To PostalCode" placeholder="Enter Zip Code">
      <label for="StateProvinceCode">State Province</label>
      <select class="form-control" name="To StateProvinceCode" id="To StateProvinceCode" placeholder="choose one">
        <option value="GA">GA</option>
        <option value="BJ">BJ</option>
      </select>
    </div>
    <br>




    <!--<div class="form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" name="city" aria-describedby="city_help" placeholder="Enter city">
      <small id="city_help" class="form-text text-muted">Please input whole city name</small>
    </div>
    <div class="form-group">
      <label for="zipcode">Zip Code</label>
      <input type="number" class="form-control" id="zipcode" name="zipcode" placeholder="Enter Zip Code">
    </div>-->
    <!--<div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>-->
    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock input_idx %}