<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .footer {
            height: 100px;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #1B213B;
            color: #333333;
            text-align: center;
        }

        .cusBackground {
            height: 500px;
            background-color: lightblue;
            width: 100%;
            left: 0;
        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shipping Cheap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}?1">
</head>
<body>
<div class="header">
    {#    <button class="btn btn-lg col-3 heading-button" onclick="location.href='{% url 'home-index' %}'">HomePage</button>#}
    {#    <button class="btn btn-lg col-3 heading-button">Map</button>#}
    {#    <button class="btn btn-lg col-3 heading-button" onclick="location.href='{% url 'home-weather' %}'">Weather</button>#}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: whitesmoke;">
        <div class="d-flex flex-grow-1" style="margin-left:200px;">
            {#            <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>#}
            <a class="navbar-brand d-none d-lg-inline-block" href="#">
                <img src="{% static "image/GC2.jpg" %}" width="30" height="30" class="d-inline-block align-top" alt="">
                ShippingPrice
            </a>
            {#            <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">#}
            {#                #}
            {#            </a>#}
            <div class="w-100 text-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
            <ul class="navbar-nav ml-auto flex-nowrap">
                <li class="nav-item">
                    <a href="#" class="nav-link m-2 menu-item nav-active">Our Goal</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link m-2 menu-item">About us</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link m-2 menu-item">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="cusBackground">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-6 mx-auto">
                <p><h1>Find the cheapest shipping prices</h1></p>
                <p><h2>Let's go Beavers!!</h2></p>
            </div>
            <div class="col-6">
                <img src="{% static "image/GC2.jpg" %}" alt="Girl in a jacket" width="300" height="225">
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 150px;">
    {#    {% block input_idx %}#}
    {#    {% endblock input_idx %}#}
    {#    {% include 'input.html' %}#}
    {% block content %}
    {% endblock content %}
</div>
<footer class="footer">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-6 mx-auto">
                <p style="color: #e3f2fd">Copyright@</p>
            </div>
        </div>
    </div>
</footer>
<!--<div class="footer">-->
<!--    </div>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="{% static 'js/demo.js' %}"></script>
</body>
</html>